# Ignore virtual environment
venv/

# Ignore vector DB directories
chapters_vector_db/
vector_db/

# Ignore Python cache
__pycache__/

# Ignore environment variables
src/.env

# Ignore system files
*.DS_Store
*.log
